.cx_logo_btn{
    z-index: 99;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 40px;
    box-sizing: unset !important;
}

.cx_logo_btn_a_tag {
    z-index: 99;
    display: inline-block;
    position: relative;
    border-radius: 40px;
    background-color: white;
    padding: 0px !important;
    height: 34px;
    border-bottom: none;
} 

.cx_logo_btn:hover{
    box-shadow: rgb(90 90 90) 0px 0px 5px;
}

/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 8px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  right: 0px;
  top: 0px;
  height: 6px;
  width: 2px;
}

/*css code for cx logo button drop down - beginning*/

.dropdown_cx {
  position: relative;
  z-index: 99900 !important;
  line-height:  20px !important;
  padding-right: 9px;
  padding-top: 6px;
  margin-right: 6px;
}

.dropdown_cx__toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.toggle__indicator_cx {
  -webkit-transform: rotate(0);
  margin-left: 0.5rem;
  transform: rotate(0deg);
  transition: all 0.25s ease;
}

.toggle__indicator_active_cx {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown_cx__items {
     -webkit-padding-start: 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    list-style: none;
    margin-top: 5px;
    min-width: 3rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: all 0.25s ease;
    z-index: 1;
    height: 205px;
    width:  230px;
}

.dropdown_cx__items_active {
  -webkit-transform: translateY(5px);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(5px);
}

.dropdown_cx-content{
    margin-left: 8px;
    width: 204px;
    margin-right: 8px;
    text-align: center !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    height: 175px;
    padding-bottom: 10px;
    line-height:  20px;
    color: black;
    font-size: 13px;
    -webkit-font-smoothing: auto !important;
    font-family: Arial, sans-serif !important;
}

.enable_all {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    background: #339DFF;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    border-radius: 9px;
    transition: all 0.3s;
    width: 100px;
    text-align: center;
    border: none;
    -webkit-font-smoothing: auto !important;
    font-family: Arial, sans-serif !important;
}

.enable_all:hover {
    background: #025caf;
    color: #fff;
}

/*css code for cx logo button drop down - end*/



/*for code button when hovered over*/
.cx_code:hover .btn_image {
    opacity: 0.8 !important;
}

/*for view button when hovered over*/
.addcode_btn_image:hover {
    filter: brightness(80%);
}

.addcodebutton2 {
    color: rgb(77, 81, 86) !important;
}

/*for add code button when hovered over*/
.addcodebutton2:hover {
    background-color: rgb(235,235,235);
}

span.dropdown_parent {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline-flex;
}

span.dropdown_child {
    display: block;
    position: relative;
    text-decoration: none;
    height:  28px;
}
  
span.dropdown_child:hover {
    cursor: unset;

}

ul.dropdown_list_item_ul {
    border: 1px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    display: none;
    height:  28px;
    padding-inline-start: 0px;
    z-index: 3;
    left: 0px;
}

.dropdown_li {
    display: block;
    position: relative;
    text-decoration: none;
    height:  28px;
}
 
li.dropdown_li:hover {
    filter: brightness(0.8);
    cursor: unset;
}

.cx_code:hover ~ ul.dropdown_list_item_ul,
ul.dropdown_list_item_ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-left: 2.5px;
    margin-top: -8px;
    background-color: black;
    position: absolute;
    top: 34px;
    padding: 0px !important; /*needed for duckduckgo*/
}

.seeall_btn_parent{
    border-radius: 2px;
    text-align: center;
}

span.seeall_btn{
    font-family: sans-serif;
    align-items: center;

}

/*for arxiv paper page bibliograph to prevent buttons getting stacked up*/
.bib-paper-links{
    max-width: max-content !important;
}

div.g{
	width: auto;
}

/*for overflow of social icons on a google search -end */

.copytext { 
	/*background: #444444;*/ 
	cursor: pointer;
}

.sharing_icons_extension {
    opacity: 0;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
    color: #1F1E1E;
    will-change: transform;
    -webkit-transform: scale(.1);
            transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: flex;
}

.sharing_icons_extension img {
	max-width: none !important;
}

.clipboard:active {
  background: lightgrey;
}

.emailslider:active {
  background: lightgrey;
}

.twitterslider:active {
  background: lightgrey;
}

.facebookslider:active {
  background: lightgrey;
}

.whatsappslider:active {
  background: lightgrey;
}

.messengerslider:active {
  background: lightgrey;
}

.linkedinslider:active {
  background: lightgrey;
}

.redditslider:active {
  background: lightgrey;
}

.sharebtnicon{
  align: center;
  max-width: fit-content;
  margin-top: 4px;
  margin-bottom: 3px;
}

a.share-btn:hover {
  background-color: lightgrey;
}

.share-btn {
    display: flex;
}

.cx_code {
	box-sizing: unset !important;
    z-index: 999 !important;
    position: relative;
}

.addcodebutton {
    box-sizing: unset !important;
}

sharebuttons {
	box-sizing: unset !important;
    z-index:  9999;
}

.btn_wrap {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden !important;
    cursor: pointer;
    width: 32px;
    height: 32px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
/*     left:70px; */
}

.btn_wrap:hover {
	background: white; /* make sure black for twitter dark mode */
    width: 295px;
    margin-left: 15px;
    overflow: hidden;
    -webkit-transform: scale(1.1);
            transform: scale(1.1)

}

span.share_icon_slider {
    z-index: 99;
    width: 5px;
    font-size: 14px;
    text-align: center;
    color: #EEEEED;
    background-color: black;
    padding: 15px 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 22.1px; /* just chose a height that looks visually good */
}

.span.share_icon_slider:hover {
    width: 500px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1)
        
}

.containerone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5px;
    height: 40px;
}

.containerone: hover {
    width: 100px;
    visibility: visible;
      -webkit-transform: translateX(500px);
            transform: translateX(500px);
}


.containerone i:nth-of-type(1) {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
}

.containerone i:nth-of-type(2) {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
}

.containerone i:nth-of-type(3) {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
}

.containerone i:nth-of-type(4) {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
}

.btn_wrap:hover span {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px)
}

.btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

/*TODO:  REMOVE AND PUT IN EXTENSION CSS for duckduckgo search page-beginning of code*/
.js-result-snippet {
    width:  40rem;
}

.js-result-extras {
    width:  40rem;
}

.result__body {
    width: max-content;
}
/*for duckduckgo search page-end of code*/

