body{
    background-color:#0f0f1e;
}

.logo .app_title p{
    color:#fff;
}

.logo .viewed_data{
    color:#fff;
}

.search{
    background-color:#0f0f1e;
}

.search input{
    color:#9aa0a6;
}

.item, #viewed_data .viewed_item{
    color:#b7c2cc;
    background-color:rgb(255 255 255 / 8%);
}

.item:hover, .item:focus{
    background-color:#000; /*#FFEB3B*/
}

.block_in{
    background-color:rgba(0,0,0,.9);
}

.block_in .con{
    background-color:#0f0f1e;
}

#children .block_title div:first-child p{
    color:#9aa0a6;
}

.block_title div:first-child p{
    color:#9aa0a6;
}

#edit .con input{
    color:#9aa0a6;
}

#move .block_in{
    background-color:#0f0f1e;
}

#setting .block_con{
    color:#fff;
}

#setting .block_con > div{
    border-bottom-color:#222;
}

#setting .block_con > div:nth-of-type(n+2):hover{
    background:rgba(255, 255, 255, 0.1);
}

.warning_title{
    color:#9aa0a6;
}

#more_menu_cloud .fun_todo p{
    color:#d1d1d1;
}

#more_menu_cloud .bookmark .fun_title > p:last-of-type{
    color:#d1d1d1;
}

#more_menu_cloud .read_later .fun_title div{
    color:#d1d1d1;
}

#more_menu_cloud .read_later_list .list{
    background:rgba(255, 255, 255, 0.2);
}

#more_menu_cloud .read_later_list .title > p, #more_menu_cloud .read_later_list .show_more{
    color:#d1d1d1;
}

#viewed_data .viewed_item:hover{
    background:#000;
}

#qr_code .qr_desc p{
    color:#b7c2cc;
}